.form__button {
  align-self: center;
  width: 238px;
  height: 46px;
  margin-top: 45px;
  margin-bottom: 25px;
  border-radius: 2px;
  border-color: black;
  background-color: black;
  color: white;
  cursor: pointer;

  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.form__button:hover {
  opacity: 0.8;
}

@media screen and (min-width: 650px) {
  .form__button {
    margin-top: 31.34px;
    margin-bottom: 37px;
    width: 358px;
    height: 50px;


  }
}
