.profile__container-button {
  margin: 32px auto 0 auto;
  display: inline-block;

  align-self: center;
  text-align: center;
  width: 100%;
  max-width: 282px;
  height: 50px;
  outline: 2px solid #fff;
  outline-offset: -2px;
  cursor: pointer;
}

.profile__container-button::after {
  content: '';
  margin: 17px auto;
  height: 16px;
  width: 16px;
  display: inline-block;
  background-image: url(../../../images/profile/add-button.png);
}

.profile__container-button:hover {
  opacity: 0.6;
}

@media screen and (min-width: 480px) and (max-width: 650px) {
  .profile__container-button {
    max-width: 600px;
  }
}

@media screen and (min-width: 650px) {
  .profile__container-button {
    margin: 71px 0 0 0;
    width: 150px;
    grid-column: 3;
    grid-row: 1/2;
    justify-self: end;
    align-self: center;
  }

  .profile__container-button::after {
    margin-top: 14px;
    height: 22px;
    width: 22px;
    background-image: url(../../../images/profile/add-button-big.png);
  }
}
