.form__input-error {
    align-self: center;
    margin-top: 5px;
    width: 238px;
  
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    
    opacity: 1;
    color: #ff0000;
    transition: 0.3s;
  }

  @media screen and (min-width: 650px) {
    .form__input-error {
      width: 358px;
    }
  }
  

  
/* .form__input-error {
    font-size: 12px;
    color: red;
    opacity: 1;
    position: absolute;
    top: calc(100% + 6px);
    left: 0;

} */