.header {
  margin: 0px auto;
  max-width: 880px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding-bottom: 31.6px;
}

@media screen and (min-width: 907px) {
  .header {
    padding-bottom: 41px;
  }
}
