.profile-popup__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 282px;
  border-radius: 10px;
  text-align: center;
  background-color: #ffffff;
}

@media screen and (min-width: 650px) {
  .profile-popup__container {
    width: 430px;
  }
}
