.element__image {
  margin: 0 auto;
  width: 100%;
  max-width: 282px;
  height: 282px;
  cursor: pointer;

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-size: cover;
  object-fit: cover
}
