.element__delete {
  display: none;

  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  background-image: url(../../../images/elements/delete.svg);
  cursor: pointer;

  border: none;
  background-color: transparent;
  z-index: 2;
}
