.profile__avatar {
  margin: 0 auto;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
  background-image: url(../../../images/profile/avatar.jpg);
  background-size: cover;
}

@media screen and (min-width: 650px) {
  .profile__avatar {
    margin-left: 0;
    margin-right: 0;
    grid-column: 1;
    grid-row: 1/2;
  }
}
