.profilePopup__close-icon {
  display: flex;
  margin-top: -36px;
  margin-left: 262px;
  width: 20px;
  height: 20px;
  background-image: url(../../../images/popup/close-icon.svg);
  cursor: pointer;
  z-index: 10;

  padding: 0;
  border: none;
  background-color: transparent;
}

.profilePopup__close-icon:hover {
  opacity: 0.6;
}

@media screen and (min-width: 650px) {
  .profilePopup__close-icon {
    margin-top: -40px;
    margin-left: 438px;
    width: 32px;
    height: 32px;
    background-image: url(../../../images/popup/close-icon-big.svg);
  }
}
