.profile__info {
  margin: 26px auto 0 auto;
  display: grid;
  grid-template-columns: fit-content(100%) 18px;
  gap: 7px 10px;
  grid-template-areas:
    'name'
    'caption';
  justify-content: center;
}
