.element__like {
  margin-top: 22px;
  margin-right: 20px;
  width: 22px;
  height: 19px;
  background-image: url(../../../images/elements/like-disabled.svg);
  cursor: pointer;
  /* grid-area: 'like'; */
  grid-row: 1;
  grid-column: 2;
  justify-items: center;
  text-align: center;
  padding: 0;
  border: none;
  background-color: transparent;
}

.element__like:hover {
  background-image: url(../../../images/elements/like-hover.svg);
}

.element__like:active {
  background-image: url(../../../images/elements/like-active.svg);
}
