.footer {
  margin: 0px auto 0 auto;
  max-width: 468px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 650px) {
  .footer {
    max-width: 579px;
  }
}

@media screen and (min-width: 907px) {
  .footer {
    max-width: 876px;
  }
}
